/* Google font integration */
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.madurai {
  font-family: "Hind Madurai", sans-serif;
}
.inter {
  font-family: "Inter", sans-serif;
}
.roboto {
  font-family: "Roboto", sans-serif;
}

/* Making sticky navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
